h1{
    color: rgb(148, 67, 113);
    font-style:italic;
    font-family:serif;
    text-decoration-line: underline;
    text-shadow: 10px 10px 20px;
}
body{
    background-image: url(../image/bg-0.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#headingparagraph{
    background-color: rgb(235, 232, 220);
}